<div
  style="height: 100vh"
  class="d-flex justify-content-center align-items-center">
  <div class="head-cont d-flex justify-content-start align-items-center flex-column">
    <div class="head-text mt-5">GAPPE MARO</div>
    <div class="sub-text">A RETRO SIMPLE CHATTING WEBAPP</div>
    <div
      class="p-3 text"
      style="color: black">
      Made with ♥️ in india by Shubh Soni
    </div>
    <div
      style="width: 25rem; height: 60%"
      class="d-flex flex-column gap-4 justify-content-center align-items-center">
      <ng-content></ng-content>
    </div>
  </div>
</div>
